<div class="btn-group btn-group-xs" style="width: 100px; display:block;" role="group">
    <button type="button" class="btn btn-primary admin-details-btn"
            data-display-name="{{ displayName }}"
            data-instance-name="{{ instanceName }}"
            data-proxy-id="{{ proxyId }}">
        Details
    </button>
    <button type="button" class="btn btn-primary app-stop-btn"
            data-instance-name="{{ instanceName }}"
            data-proxy-id="{{ proxyId }}">
        Stop
    </button>
</div>
