<div class="list-group">
    {{#each instances}}
        {{#if active}}
            <div class="app-instance list-group-item">
                <b class="active-app-instance-title">{{ instanceName }}</b>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary instances-details-btn"
                            data-display-name="{{ displayName }}"
                            data-instance-name="{{ instanceName }}"
                            data-proxy-id="{{ proxyId }}">
                        Details
                    </button>
                    <button type="button" class="btn btn-primary app-stop-btn"
                            data-instance-name="{{ instanceName }}"
                            data-proxy-id="{{ proxyId }}">
                        Stop
                    </button>
                    <button type="button" class="btn btn-primary app-restart-btn">
                        Restart
                    </button>
                    {{#if ../pauseSupported}}
                        {{#if uptime}}
                            <button type="button" class="btn btn-primary app-pause-btn"
                                    data-instance-name="{{ instanceName }}"
                                    data-proxy-id="{{ proxyId }}">
                                Pause
                            </button>
                        {{/if}}
                    {{/if}}
                </div>
                <span class="app-status">{{{formatStatus status }}} {{#if uptime}}Uptime: {{ uptime }} {{/if}}</span>
            </div>
        {{else}}
            <a target="{{ ../target }}" href="{{ url }}" class="app-instance list-group-item">
                <span class="app-instance-title">{{ instanceName }}</span>
                <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-primary instances-details-btn"
                            data-display-name="{{ displayName }}"
                            data-instance-name="{{ instanceName }}"
                            data-proxy-id="{{ proxyId }}">
                        Details
                    </button>
                    <button type="button" class="btn btn-primary app-stop-btn"
                            data-instance-name="{{ instanceName }}"
                            data-proxy-id="{{ proxyId }}">
                        Stop
                    </button>
                    {{#if ../pauseSupported}}
                        {{#if uptime}}
                            <button type="button" class="btn btn-primary app-pause-btn"
                                    data-instance-name="{{ instanceName }}"
                                    data-proxy-id="{{ proxyId }}">
                                Pause
                            </button>
                        {{/if}}
                    {{/if}}
                </div>
                <span class="app-status">{{{formatStatus status }}} {{#if uptime}}Uptime: {{ uptime }} {{/if}}</span>
            </a>
        {{/if}}
    {{/each}}
</div>
{{#unless instances}}
    You don't have any instances of this app.<br>
{{/unless}}
